* {
  box-sizing: border-box;
}

:root {
  --primary-color: #0f1b4c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */
.content {
  width: 1110px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.btn {
  border-radius: 12px;
  background: var(--primary-color);
  min-width: 170px;
  display: inline-block;
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 18px 0;
}

a {
  text-decoration: none;
}

.font-avatar {
  color: #fff;
  text-align: center;
  font-family: "Circular-Std", sans-serif;
  font-size: 0.7261rem;
  font-weight: 450;
  line-height: 1.6rem;
  letter-spacing: -0.0145rem;
}

/* =============== Header ===============*/
.header {
  background: #e6f0ff;
  height: 100vh;
  position: relative;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 38px;
}

/* Navigation */
.navbar ul {
  display: flex;
  margin-left: 50px;
}

.navbar ul a {
  padding: 0 14px;
  color: #4f5361;
  font-size: 1.4rem;
  font-weight: 500;
}

/* Action */
.navbar .actions {
  margin-left: auto;
}

.navbar .action-link {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 500;
}

.navbar .action-btn {
  min-width: 98px;
  margin-left: 18px;
  padding: 13px 0;
  border-radius: 8px;
  font-size: 1.4rem;
}

/* Hero */
.hero {
  display: flex;
}

.hero .info {
  width: 50.4%;
}

.hero .sub-title {
  color: #687690;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.018rem;
  margin-top: 130px;
}

.hero .title {
  margin-top: 8px;
  color: #000336;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 7.6rem;
}

.hero .desc {
  margin-top: 30px;
  color: #5a6473;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.2rem;
}

.hero-cta {
  margin-top: 40px;
}

.hero-img {
  position: absolute;
  bottom: 0;
  right: calc((100vw - 1110px) / 2 - 100px);
}

/* =============== Clients ===============*/
.clients {
  padding: 43px 0 41px;
  margin-top: 79px;
}
.clients .row {
  display: flex;
  justify-content: space-between;
}

.clients .row-desc {
  margin-top: 23px;
}

.clients .desc {
  color: #7d8589;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
}

.clients .images {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* =============== Guides ===============*/
.guides {
  padding: 79px 0;
  margin-top: 40px;
}
.guides .sub-title {
  text-align: center;
  position: relative;
  color: #000339;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 3.5rem;
}

.guides .sub-title::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 4.1rem;
  height: 0.4rem;
  border-radius: 1.2rem;
  background: #000339;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.guides .desc {
  width: 459px;
  max-width: 100%;
  text-align: center;
  margin: 20px auto 0;
  color: #5a6473;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3rem;
}

.list-guide {
  display: flex;
  margin-top: 70px;
  justify-content: center;
}

.guide-item {
  margin: 0 70px;
  text-align: center;
}

.guide-item .title {
  margin-top: 26px;
  color: #3b3c45;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.2rem;
}

.guide-item .link {
  display: inline-block;
  margin-top: 10px;
  color: #0689ff;
  font-size: 1.4rem;
  font-weight: 600;
}

.link img {
  margin-left: 6px;
}

.guide-cta {
  margin: 50px auto 0;
}

/* =============== Featured ===============*/
.featured {
  background: #f5fafe;
  margin-top: 41px;
  padding: 110px 0;
}

.featured .sub-title {
  color: #000339;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 3.5rem;
}

.featured .row {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.featured .row .desc {
  color: #5a6473;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3rem;
}

.featured .row .link {
  display: flex;
  align-items: center;
  color: #0689ff;
  font-size: 1.8rem;
  font-weight: 600;
}

.featured .row .link .right-arrow {
  margin-left: 8px;
}

.featured .list {
  margin-top: 70px;
  display: flex;
  gap: 30px;
}

.featured .list .item {
  flex: 1;
  background: #fff;
  border-radius: 12px;
}

.featured .item .thumb {
  width: 100%;
  height: 227px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.featured .list .body {
  padding: 17px 20px 24px;
}

.featured .item .title {
  color: #000339;
  font-family: Poppins;
  font-size: 2rem;
  font-weight: 600;
}

.featured .item .desc {
  margin-top: 11px;
  color: #a3a6ab;
  font-size: 1.4rem;
  font-weight: 500;
}

.featured .item .info {
  margin-top: 22px;
  display: flex;
  align-items: center;
}

.featured .item .label {
  margin-left: 8px;
  margin-right: 23px;
  color: #4d4d52;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4rem;
  letter-spacing: 0.14px;
}

.featured .item .label:last-child {
  margin-right: 0;
}

/* =============== Stats ===============*/
.stats {
  padding: 50px 0;
  margin-top: 75px;
  position: relative;
}

.stats .content {
  width: 1017px;
}

.stats .row {
  display: flex;
}

.stats-trend {
  position: absolute;
  width: 239px;
  padding: 45px 22px 40.5px;
  border-radius: 0rem 0rem 1.2rem 1.2rem;
  background: #fff;
}

.stats-trend .value {
  color: #000339;
  font-size: 2.6rem;
  font-weight: 700;
  letter-spacing: 0.026rem;
}

.stats-trend .icon {
  margin-left: auto;
}

.stats-trend .desc {
  margin-top: 8px;
  color: #a7a7a7;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.stats-trend .seperate {
  height: 0.12rem;
  background: #e9e9e9;
  margin-top: 25.5px;
}

.stats-trend .avatar-block {
  display: flex;
  gap: 16px 14px;
  margin-top: 26px;
  flex-wrap: wrap;
}

.stats-trend .avatar-group {
  display: flex;
}

.avatar-group .avatar {
  width: 1.6rem;
  height: 1.6rem;
  object-fit: cover;
  border-radius: 50%;
  margin-left: -3px;
}

.avatar-group .avatar:first-child {
  margin-left: 0;
}

.avatar-group .avatar-1 {
  background: #1f3bb1;
}

.avatar-group .avatar-2 {
  background: #24d6d9;
}

.avatar-group .avatar-3 {
  background: #f8c120;
}

.avatar-group .avatar-4 {
  background: #f97f6b;
}

.avatar-group .avatar-5 {
  background: #73a242;
}

.avatar-group .avatar-6 {
  background: #1f3bb0;
}

.stats .img-block {
  width: 51%;
}

.stats .info {
  width: 49%;
  padding: 79px 0 0 165px;
}

.stats .img-block img {
  display: block;
  margin-left: auto;
  width: 400px;
  height: 460px;
  object-fit: cover;
  border-radius: 12px;
}

.stats .info .sub-title {
  position: relative;
  width: 269px;
  color: #000339;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 4.5rem;
}

.stats .info .sub-title::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: "";
  display: block;
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background: #000339;
}

.stats .info .desc {
  width: 309px;
  margin-top: 20px;
  color: #5a6473;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3rem;
}

.stats .row-qty {
  margin-top: 110px;
  justify-content: space-between;
  padding: 32px 0;
}

.stats .row-qty .qty {
  color: #000;
  font-size: 6.4rem;
  font-weight: 600;
}

.stats .qty-item .qty-desc {
  color: #7b8087;
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 22px;
}

/* =============== Subscription ===============*/
.subscription {
  margin-top: 90px;
}

.subscription .body {
  display: flex;
  align-items: center;
  position: relative;
  height: 370px;
  background: #063183;
  border-radius: 2rem;
}

.subscription .info {
  padding: 0 80px;
  min-width: 671px;
  max-width: 100%;
}
.subscription .sub-title {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 600;
}

.subscription .desc {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3rem;
  opacity: 0.75;
  margin-top: 15px;
}

.subscription .btn {
  margin-top: 20px;
  min-width: 151px;
  border-radius: 1.2rem;
  background: #fff;
  color: #002366;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
}

.subscription .image {
  position: absolute;
  bottom: 0;
  right: 221px;
}

/* =============== Footer ===============*/
.footer {
  margin-top: 55px;
}

.footer .top-row {
  display: flex;
  gap: 185px;
}

.footer .heading {
  color: #1c1c1d;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 42px;
}

.footer .item a {
  display: block;
  color: #7a7a7e;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 18px;
  white-space: nowrap;
}

.footer .desc {
  margin: 40px 0;
  color: #7a7a7e;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
}

.footer .bottom-row {
  display: flex;
  margin-top: 81px;
  justify-content: space-between;
  align-items: center;
}

.footer .copyright {
  color: #c2c2c2;
  font-size: 1.4rem;
  font-weight: 400;
}
